.music-play-control {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.music-play-control .ant-btn {
  display: flex;
}

.music-play-control > .ant-btn-group {
  display: flex;
}

@media only screen and (min-width: 769px) {
  .music-play-control {
    flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  .music-play-control {
    flex-direction: column;
    align-items: center;
  }
  
  .music-play-control .ant-btn {
    height: 32px;
    padding: 0 4px;
  }
  
  .music-play-control > div:nth-child(2) {
    margin-top: 8px;
    display: flex;
    flex-wrap: nowrap;
  }
}