.music-play-item {
  display: flex;
  flex-flow: row nowrap;
}

.music-play-item.selected {
  background: #e6f7ff;
  color: #1890ff;
}

.music-play-item .info {
  flex: 1 1 auto;
  padding: 12px 0;
  
  display: flex;
  flex-flow: row nowrap;
}

.music-play-item .info .index {
  flex: 0 0 auto;
  margin-left: 12px;
  margin-right: 12px;
}

.music-play-item .info .title {
  flex: 1 1 auto;
  word-break: break-all;
  margin-right: 12px;
  font-weight: bold;
}

.music-play-item .info .time {
  flex: 0 0 auto;
  text-align: center;
}

.music-play-item .remove-btn {
  flex: 0 0 auto;
  padding: 12px;
}

@media only screen and (min-width: 769px) {
  .music-play-item .remove-btn:hover i {
    visibility: visible;
  }
  
  .music-play-item .remove-btn i {
    visibility: hidden;
  }
}