.file-select-modal .ant-breadcrumb {
  padding: 4px;
}

.file-select-modal .modal-file-item {
  border-top: 1px solid #dddddd;
  padding: 4px 6px;
}

.file-select-modal .modal-file-item:first-child {
  border-top: 0px;
}

.file-select-modal .modal-file-item > * {
  padding-right: 6px;
}

.file-select-modal .modal-file-item.selected {
  background: #bae7ff;
}