.movie-detail-layout {
  width: 100%;
  height: 100%;
}

.movie-detail-container {
  max-width: 1280px;
  margin: 0 auto;
  background: white;
}

.movie-detail-title {
  display: inline;
}

.movie-detail-resolution-button {
  float: right;
}