.login-form-container {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.login-form {
  width: 100%;
  max-width: 300px;
}
.login-form-register {
  width: 100%;
}
.login-form-button {
  width: 100%;
}
