.layout {
  width: 100%;
  height: 100%;
  align-self: flex-start;
}

.header {
  padding: 0 0 0 20px;
}

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}