$DIVIER_COLOR: #dddddd;
$HOVER_BACKGROUND: #eeeeee;
$SELECT_BACKGROUND: #e6f7ff;
$BLUE: #1890ff;
$VISITED: #551A8B;
$ID: #314659;

@mixin desktop {
	@media screen and (min-width: 769px) {
		@content;
	}
}
// PC large
@mixin mobile {
	@media screen and (max-width: 768px) {
		@content;
	}
}

#root {
  height: 100%;
  width: 100%;
  
  @include desktop {
    background: #FFFFFF55;
  }
  
  @include mobile {
    background: #FFFFFFCC;
  }
}

.ant-layout-footer {
  align-self: stretch;
  background: rgba(0, 0, 0, 0.05);
}

.border-top {
  border-top: 1px solid $DIVIER_COLOR;
}

.border-bottom {
  border-bottom: 1px solid $DIVIER_COLOR;
}

.item-wrapper {
  display: block;
  
  &:not(:first-child) {
    border-top: 1px solid $DIVIER_COLOR;
  }
  
  &:visited .title {
    color: $VISITED !important;
  }
}

.item {
  padding: 8px;
  color: #000000;
  
  @include desktop {
    &:hover {
      background: $HOVER_BACKGROUND;
    }
  }
  
  &.selected {
    background: $SELECT_BACKGROUND;
    color: $BLUE;
  }
  
  &.desktop {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
    & > *:not(:last-child) {
      margin-right: 8px;
    }
  }
  
  &.mobile {
    display: flex;
    flex-flow: column nowrap;
    
    .first-row {
      display: block;
      margin-bottom: 8px;
      
      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }
    
    .last-row {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      
      & > *:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
  
  .id {
    color: $ID;
  }
  
  .title {
    color: $BLUE;
    word-break: break-all;
  }
  
  .gray {
    color: rgba(0,0,0,0.65);
    font-size: 11px;
  }
  
  .float-right {
    margin-left: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  
  .ant-page-header {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  }
  
  .ant-page-header-heading-extra {
    display: flex;
  }
  
  .ant-spin-nested-loading {
    border-bottom: 1px solid #dddddd;
  }
  
  .ant-pagination {
    align-self: center;
    margin-top: 16px;
    
    @include mobile {
      margin-bottom: 16px;
    }
  }
}

.statistics {
  display: flex;
  flex-flow: row wrap;
  padding: 16px;
  
  & > *:not(:last-child) {
    margin-right: 16px;
  }
}

.music-player-floating-button {
  bottom: 40px;
  
  .ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
}

.music-player-modal {
  top: 100px;

  .rc-dialog-content {
    background-color: transparent;
  }
  
  .rc-dialog-body {
    padding: 0px;
  }
  
  .aplayer {
    border-radius: 6px;
  }
}

.aplayer {
  * {
    box-sizing: content-box;
  }
  
  .aplayer-icon-back,
  .aplayer-icon-play,
  .aplayer-icon-forward {
    display: inline-block;
  }
  
  .aplayer-icon-back,
  .aplayer-icon-play,
  .aplayer-icon-forward {
    position: absolute;
    bottom: 27px;
    width: 20px;
    height: 20px;
  }
  
  .aplayer-icon-back {
    right: 50px;
  }
  
  .aplayer-icon-play {
    right: 25px;
  }
  
  .aplayer-icon-forward {
    right: 0px;
  }
  
  .aplayer-icon-menu {
    display: none;
  }
  
  .aplayer-music {
    padding-right: 75px;
  }
}