.article-list-page {
  display: flex;
  flex-direction: column;
}

.article-list-page .page-header {
  border-top: 1px solid #dddddd;
}

.article-list-page .ant-list {
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.article-list-page .ant-pagination {
  align-self: center;
  margin-top: 24px;
}

@media only screen and (min-width: 769px) {
  .article-list-page .page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .article-list-page .ant-page-header {
    flex-grow: 1;
  }
  
  .article-list-page .ant-input-search {
    width: 200px;
  }
  
  .article-list-page .button-group {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 768px) {
  .article-list-page .page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .article-list-page .ant-page-header {
    align-self: stretch;
  }
  
  .article-list-page .ant-input-search {
    width: 300px;
    margin-bottom: 8px;
  }
  
  .article-list-page .button-group {
    width: 300px;
    margin-bottom: 8px;
    display: flex;
  }
  
  .article-list-page .button-group > * {
    flex-grow: 1;
  }
}