.article-item {
  border-top: 1px solid #dddddd;
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #000000;
}

.article-item.selected {
  background: #e6f7ff;
  color: #1890ff;
}

.article-item:hover {
  background: #eeeeee;
}

.article-item:first-child {
  border-top: 0px;
}

/* section */
.article-item > .section {
  display: flex;
  align-items: center;
}

.article-item > .first.section {
  flex: 1 1 auto;
}

.article-item > .second.section {
  flex: 0 0 auto;
}

/* components */
.article-item > .section > * {
  margin-right: 8px;
}

.article-item .article-id {
  color: #314659;
  margin-right: 8px;
  flex: 0 0 30px;
  text-align: center;
}

.article-item .article-title {
  color: #1890ff;
  /*color: rgba(0,0,0,0.85);*/
  word-break: break-all;
}

.article-item .article-date {
  color: rgba(0,0,0,0.65);
  font-size: 11px;
}

@media only screen and (max-width: 768px) {
  .article-item {
    flex-flow: column;
    align-items: stretch;
  }
  
  .article-item > .first.section {
    margin-bottom: 8px;
  }
}