.movie-list-layout {
  width: 100%;
  display: flex;
  align-items: center;
}

.movie-page-header {
  display: flex;
  align-items: center;;
}

.movie-page-header > .ant-page-header-heading {
  flex: 1 1 auto;
}

.movie-page-header > .ant-page-header-content {
  padding: 0;
}

.movie-list-container {
  width: 100%;
  max-width: 768px;
  background: white;
  margin-bottom: 12px;
}

.movie-list {
  width: 100%;
}